APP_NAME="Ciclo Finca 4"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
# En Docker usar DB_HOST=db; en local DB_HOST=localhost
DB_HOST=db_ciclo
DB_PORT=3306
DB_DATABASE=db_ciclo_finca_4
DB_USERNAME=laravel
DB_PASSWORD=laravel123

# Evita usar tabla cache en BD (evita error "Table cache doesn't exist")
CACHE_STORE=file
