APP_NAME="Ciclo Finca"
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=https://ciclo-finca-4-app-4ccw.onrender.com

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_STORE=file
SESSION_DRIVER=file
